@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.day {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  border-radius: 4px;
}

.events {
  pointer-events: none;
  display: flex;
  border: solid 2px black;
  border-radius: 4px;
  flex-direction: row;
  position: absolute;
  inset: 0;
}

.hour {
  height: 200px;
}

.hour + .hour {
  border-top: 2px solid gray;
}

.event {
  margin-top: calc(var(--top-offset) * 1px);
  height: calc(var(--height) * 1px);
  background-color: red;
  display: block;
}